.idea
.DS_Store
.docker-sync

backup/*
!certs/Icon\r

docker/_config.local.sh

certs/*.crt
certs/*.csr
certs/*.key
certs/*.key.org
!certs/Icon\r

docker-compose.yml
docker-sync.yml

domains/*
domains/domains.list
!certs/Icon\r
!domains/default/
!domains/domains.list.dist

projects/*
!projects/Icon\r

!database/Icon\r

database/mysql/*
!database/mysql/Icon\r

database/elasticsearch/*
!database/elasticsearch/Icon\r

database/mongo/*
!database/mongo/Icon\r

database/redis/*
!database/redis/Icon\r

!bin/Icon\r
bin/private/

