.idea

.DS_Store

config/_config.local.sh

certs/*.crt
certs/*.csr
certs/*.key
certs/*.key.org
!certs/Icon\r

docker-compose.yml

domains/*
domains/domains.list
!certs/Icon\r
!domains/default/
!domains/domains.list.dist

projects/*
!projects/Icon\r

!database/Icon\r

database/mysql/*
!database/mysql/Icon\r

database/esdata/*
!database/esdata/Icon\r

database/redis/*
!database/redis/Icon\r

!bin/Icon\r
bin/private/

