.idea

.DS_Store

certs/*.crt
certs/*.csr
certs/*.key
certs/*.key.org
!certs/Icon\r

docker-compose.yml

domains/*
domains/domains.list
!certs/Icon\r
!domains/default/
!domains/domains.list.dist

projects/*
!projects/Icon\r

mysql/*
!mysql/Icon\r

esdata/*
!esdata/Icon\r

!bin/Icon\r
bin/private/

